.create-test-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.create-card {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.success-msg {
  color: green;
  margin-top: 10px;
}
