<mat-toolbar color="primary" class="main-header light-glass">
  <span class="logo" routerLink="/">
    <mat-icon class="logo-icon">quiz</mat-icon> Quiz App
  </span>
  <span class="spacer"></span>

  <ng-container *ngIf="user; else guestButtons">
    <ng-container *ngIf="isAdminLoggedIn; else userNav">
      <button mat-button routerLink="/admin/dashboard">Dashboard</button>
      <button mat-button routerLink="/admin/create-test">Create Test</button>
      <button mat-button routerLink="/admin/latest-job">Latest Jobs</button>
      <button mat-button routerLink="/admin/current-affairs">Current Affairs</button>
      <button mat-button routerLink="/admin/create-category">Create Category</button>
      <button mat-button routerLink="/admin/results">View Results</button>
    </ng-container>
    <ng-template #userNav>
      
      <button mat-button routerLink="govJob">Government Job</button>
      <button mat-button routerLink="/quiz-section">Quiz Sections</button>
      <button mat-button routerLink="/current-affairs">Current Affairs</button>
      <button mat-button routerLink="news">News</button>
    </ng-template>
    <button mat-stroked-button color="accent" class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </ng-container>

  <ng-template #guestButtons>
    <a mat-stroked-button color="primary" routerLink="/register" class="header-btn">Sign Up</a>
    <a mat-flat-button color="accent" routerLink="/login" class="header-btn">Login</a>
  </ng-template>
</mat-toolbar>

<main class="content content-light">
  <router-outlet></router-outlet>
</main>

<footer  class="footer light-glass">
  <div class="footer-left">
    © 2025 <span class="footer-logo">Quiz App</span>. All rights reserved.
  </div>
  <div class="footer-right">
    <form class="subscribe-form" >
      <mat-form-field appearance="outline" class="subscribe-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Subscribe with email" required type="email" name="email">
      </mat-form-field>
      <button mat-raised-button color="primary" class="subscribe-btn">Subscribe</button>
    </form>
  </div>
</footer>
